body {
    font-size: 15pt;
}
h3{
  display:block;
  margin: auto;
  color: skyblue;
  margin-bottom: 40px ;
  
}
#text{
  display: block;
  margin: auto;
}
#bt{
  
  display: block;
  margin:auto;
  margin-top: 10px;
}
